
.footer {
    background-color: var(--secondary-color-dark-black);
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    justify-content: center;
    width: 100%;
}

.footer a {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
}