@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap');

.footer {
    background-color: var(--secondary-color-dark-black);
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    justify-content: center;
    position: fixed; /* or position: absolute; */
    bottom: 0;
    width: 100%;
}

.footer a {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}