@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap');


:root {
  margin: 0;
  --background-color-light-purple: #E4D9FF;
  --primary-color-dark-blue:#273469;
  --secondary-color-dark-black: #30343F;
  --third-color-ice-light: #FAFAFF;
}


body {
  color: var(--third-color-ice-light);
  background: var(--background-color-light-purple);
}