.section {
  padding: 5%;
  width: 100%;
}
.section h2 {
  font-weight: 600;
  color: var(--primary-color-darker-blue);
  font-size: 40px;
  margin-left: 44px;
}
.categoriesUl {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 16.5em);
  row-gap: 2em;
  gap: 3em;
  padding-top: 6em;
}
.categoriesUl li {
  color: var(--primary-color-darker-blue);
  font-size: 1.45em;
  font-weight: 600;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(26, 34, 59, 0.4);
  text-align: center;
  padding: 0.9em 0;
}

@media only screen and (max-width: 1190px) {
  .categoriesUl {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1041px) {
  .categoriesUl {
    font-size: 13px;
  }
}
@media only screen and (max-width: 610px) {
  .categoriesUl {
    gap: 2em;
    font-size: 12px;
  }
  .section h2 {
    text-align: center;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .categoriesUl {
    gap: 1.5em;
    font-size: 10px;
  }
}
