.section {
  padding: 5%;
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.searchBtn {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  height: 100%;
  padding-right: 0.5em;
}
.eventsGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3em;
  gap: 2em;
}
.eventNotFound {
  color: var(--third-color-light-black);
  font-size: 3em;
  text-align: center;
  margin-top: 3em;
}
.filterBtn {
  display: none;
  margin: 1em 0;
  text-align: center;
  font-weight: 500;
  font-size: 1.25em;
  color: rgba(0 121 138);
  cursor: pointer;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  display: none;
}
.closeIcon {
  display: none !important;
}
.filterBox {
  min-width: 276px;
}
.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}
@media (max-width: 800px) {
  .closeIcon {
    display: block !important;
  }
  .filterBtn {
    display: block;
  }
  .eventsGrid {
    padding-top: 0;
  }
  .eventNotFound {
    font-size: 2em;
  }
  .filterBox {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    position: fixed;
    display: none;
    min-width: 375px;
  }
  .filterBox > div {
    padding: 0.75em 2em !important;
    padding-bottom: 1.5em;
  }
  .filterBox.open {
    display: block;
  }
  .overlay.open {
    display: block;
  }
  .filterContainer {
    margin-bottom: 1em;
  }
}
@media (max-width: 719px) {
  .eventsGrid {
    flex-direction: column;
    gap: 1rem;
  }
}
